.icon {
    height: 50px;
}

.navBar {
    background-color: transparent;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.navBar.scrolled {
    background-color: rgba(255, 255, 255, 0.721);
    /* Semi-transparent dark background */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navBar-container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;
    margin: 0 auto;
}

.navBar ul {
    list-style: none;
    color: black;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.navBar li {
    display: inline-block;
    font-family: 'Iceland', sans-serif;
    font-size: 25px;
    padding-left: 10px;
    cursor: pointer;
}

.navBar-items-list {
    display: flex;
    align-items: center;
    gap: 30px
}

@media screen and (max-width: 768px) {
    .navBar {
        height: 60px;
        font-size: 1rem;
        position: fixed;
    }

    .navBar-container {
        padding: 0 15px;
        height: 40px;
    }

    .navBar ul {
        gap: 1rem;
    }

    .navBar li {
        font-size: 18px;
        padding-left: 5px;
    }

    .navBar-items-list {
        gap: 15px;
    }

    .icon {
        height: 40px;
    }

}