.project-container {
    background-color: gainsboro;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-project {
    font-size: 50px;
    color: black;
    font-family: "Oxanium", sans-serif;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    /* Allow wrapping on smaller screens */
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .title-project {
        font-size: 35px;
    }

    .cards {
        gap: 20px;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}