.main {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    margin: 0;
    padding: 0;

}

.backimg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    object-fit: cover;
    z-index: -1;
}

.title {
    color: black;
    font-size: 35vh;
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: "Saira", sans-serif;
    margin-top: 30px;
}

.me {
    height: 90vh;
    position: absolute;
    bottom: 0px;
    left: 560px;
    z-index: 1;
}


.role1 {
    color: black;
    position: absolute;
    bottom: 180px;
    left: 200px;
    font-family: 'Iceland', sans-serif;
    font-size: 30px;

}

.role2 {
    color: black;
    position: absolute;
    bottom: 180px;
    right: 200px;
    font-family: 'Iceland', sans-serif;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .me {
        height: 60vh;
        position: absolute;
        bottom: 0px;
        left: 50px;
        z-index: 1;
        margin-top: 20px;
        margin-bottom: 0;

    }

    .title {
        position: absolute;
        top: 80px;
        font-size: 15vw;
    }

    .main {
        justify-content: center;
        height: 100vh;
        /* position: relative; */
    }

    .role1 {
        font-size: 21px;
        position: absolute;
        top: 160px;
        left: 245px;
    }

    .role2 {
        font-size: 21px;
        position: absolute;
        top: 160px;

    }

    .roles {
        /* display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 2; */
    }
}