.main {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    margin: 0;
    padding: 0;

}

.backimg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    object-fit: cover;
    z-index: -1;
}

/* --- title text --- */

.title {
    color: black;
    font-size: 33vh;
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: "Saira", sans-serif;
    margin-top: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.glitch-active {
    animation: rgbGlitch 0.35s infinite;
}

@keyframes rgbGlitch {
    0% {
        text-shadow:
            2px 0 red,
            -2px 0 blue;
    }

    25% {
        text-shadow:
            -2px -1px red,
            2px 1px blue;
    }

    50% {
        text-shadow:
            1px 1px red,
            -1px -1px blue;
    }

    75% {
        text-shadow:
            -1px 0 red,
            1px 0 blue;
    }

    100% {
        text-shadow:
            2px 0 red,
            -2px 0 blue;
    }
}

/* ---------------------------- */


.me {
    height: 90vh;
    position: absolute;
    bottom: 0px;
    left: 560px;
    z-index: 1;
}


.role1 {
    color: black;
    position: absolute;
    bottom: 180px;
    left: 200px;
    font-family: 'Iceland', sans-serif;
    font-size: 30px;

}

.role2 {
    color: black;
    position: absolute;
    bottom: 180px;
    right: 200px;
    font-family: 'Iceland', sans-serif;
    font-size: 30px;

}

.me {
    height: 90vh;
    position: absolute;
    bottom: 0;
    left: 560px;
    z-index: 1;
    transition: filter 0.5s;
}


/* --- glitch animation --- */
.me:hover {
    animation: rgbGlitch 0.5s steps(2);
}


@keyframes rgbGlitch {
    0% {
        transform: translate(0);
        filter: none;
    }

    15% {
        transform: translate(-3px, 2px);
        filter:
            drop-shadow(-4px 0 red) drop-shadow(4px 0 cyan);
    }

    30% {
        transform: translate(3px, -2px);
        filter:
            drop-shadow(5px 0 red) drop-shadow(-5px 0 blue);
    }

    45% {
        transform: translate(-2px, 1px);
        filter:
            drop-shadow(-6px 0 red) drop-shadow(6px 0 cyan);
    }

    60% {
        transform: translate(2px, -1px);
        filter:
            drop-shadow(6px 0 red) drop-shadow(-6px 0 blue);
    }

    75% {
        transform: translate(-1px, 0);
        filter:
            drop-shadow(-8px 0 red) drop-shadow(8px 0 cyan);
    }

    100% {
        transform: translate(0);
        filter: none;
    }
}

/* --------------------------- */


@media screen and (max-width: 768px) {
    .me {
        height: 60vh;
        position: absolute;
        bottom: 0px;
        left: 50px;
        z-index: 1;
        margin-top: 20px;
        margin-bottom: 0;

    }

    .title {
        position: absolute;
        top: 80px;
        font-size: 15vw;
    }

    .main {
        justify-content: center;
        height: 100vh;
        /* position: relative; */
    }

    .role1 {
        font-size: 21px;
        position: absolute;
        top: 160px;
        left: 245px;
    }

    .role2 {
        font-size: 21px;
        position: absolute;
        top: 160px;

    }

}